<% @users.each do |user| %>
  <%= f.label :id, class: "checkbox inline" do %>
    <%= f.check_box :id %>
    <h5 style="margin-left: 5%;"><%= user.name %></h5>
    <br>
  <% end %>
<% end %>


<%= f.label :attendees, style: "margin-left:30%" %>
<%= f.check_box :attendees %>

<% @users.each do |user| %>
  <%= f.label :id, class: "checkbox inline" do %>
    <%= f.check_box :id %>
    <h5 style="margin-left: 5%;"><%= user.name %></h5>
    <br>
  <% end %>
<% end %>


<% @users.each do |user| %>
  <%= f.label user.name, class: "checkbox inline" do %>
    <%= check_box_tag'user_ids[]', user.id %>
    <h5><%= user.name %></h5>
    <br>
  <% end %>
<% end %>

<% @users.each do |user| %>
  <%= f.label user.name, class: "checkbox inline"  do %>
    <%= check_box_tag'user_ids[]', user.id %>
    <h5><%= user.name %></h5>

  <% end %>
<% end %>
